@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f4f6;
}

.home-page {
  text-align: center;
}

.article-page {
  text-align: center;
}

li {
  list-style-type: none;
}

.header {
  grid-area: 1 / 1 / 2 / 13;
  background-color: white;
}

.footer {
  grid-area: 6 / 1 / 7 / 13;
  height: auto;
  width: 100%;
  background-color: white;
  display: inline-block;
  border-top: 0.2rem solid #1b2d45;
  padding: 1.3rem;
  margin: 0;
}

.article-list {
  grid-area: 3 / 1 / 6 / 13;
  display: flex;
  flex-wrap: wrap;
}

.article-display {
  grid-area: 3 / 1 / 6 / 13;
}

.filter-by-topic {
  grid-area: 3 / 2 / 4 / 12;
}

.article-display-container {
  grid-area: 4 / 2 / 6 / 12;
  display: grid;
  margin: auto;
  height: auto;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article-item-container {
  grid-area: 4 / 2 / 6 / 12;
  display: flex;
  flex: 3 1 400px;
  justify-content: center;
  flex-direction: column;
  max-width: 60rem;
}

.article-item {
  grid-area: 4 / 3 / 6 / 11;
  border: #1b2d45;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 10px;
  margin: 1rem;
  overflow: hidden;
}

.article-item-img {
  width: 100%;
  height: auto;
}

/* .article-info {
  display: flex;
} */

.article-body {
  font-size: 1.1rem;
}

.home-page-article-links {
  text-decoration: none;
  color: inherit;
}

.comment-list-container {
  grid-area: 4 / 2 / 6 / 12;
  display: grid;
  margin: auto;
  height: auto;
  max-width: 1280px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.comment-item {
  grid-area: 4 / 3 / 6 / 11;
  border: #1b2d45;
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 10px;
  margin: 1rem;
  overflow: hidden;
  text-align: left;
}

.comment-item:hover {
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 5px #1b2d45;
}

.comment-body {
  font-size: 1.1rem;
}

main {
  width: 100vw;
  height: 100vh;
  color: #1b2d45;
}

.navbar {
  height: auto;
  width: 100%;
  background-color: white;
  grid-area: 2 / 1 / 3 / 13;
  display: inline-block;
  border-bottom: 0.2rem solid #1b2d45;
  padding: 1.3rem;
  margin: 0;
}

.navbar-link {
  background-color: white;
}

.navbar-links {
  background-color: white;
}

.home-link {
  background-color: white;
}
